.my-custom-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 100%;
  }
  
  .my-custom-image {
    width: 100px; /* adjust as needed */
    height: 100px; /* adjust as needed */
  }