.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex: 1;
  flex-direction: row;
  display: flex;
  align-items: top;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: rgb(5, 125, 164);
  font-weight: bold;
}

.fonts {
  font-size: calc(12px + 2vmin);
  color: rgb(5, 125, 164);
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.Background {
  background-color: rgb(216, 217, 218);
}

.bg-list {
  background-color: rgb(189, 189, 189);
  border-radius: 1rem;
}

.custom-post-card {
  width: 15rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border: 0.25rem;
  border-style: solid;
  border-radius: 1.5rem;
  border-color: rgb(3, 98, 133);
}

.custom-report-card {
  display: "flex";
  align-items: "center";
  justify-content: "center";
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 300px;
}

.center {
  flex: 1;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.web-color {
  color: rgb(3, 98, 133);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left-btn-contact {
  margin-left: 180px;
}

.left-margin-LL {
  margin-left: 60px;
}

.DashboardButton {
  width: fit-content;
  height: fit-content;
  min-width: 200px;
  min-height: 120px;
  border-radius: 5px 25px;
  background: "lightblue";
}
.DashboardButton:hover {
  background-color: rgb(205, 205, 205);
  transition: 0.2s;
}
.line {
  width: 53px;
  height: 0;
  border: 1px solid #c4c4c4;
  margin: 3px;
  display: inline-block;
}

.content {
  flex: 1;
  height: 40rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: rgb(5, 125, 164);
  font-weight: bold;
}

.footer {
  /* position: fixed; */
  margin-bottom: 0;
  width: 100%;
  color: rgb(5, 125, 164);
}
